
<!-----heading--->
<div class="banner">
	<h1>Income/Expense Calculator</h1>


</div>
<div ng-show="genRec">
<!--heading-->
<h2> Insert the appropriate values to generate your financial receipt!</h2>



<!--SHOW FORMS-->


      
<form name="paycheckForm" >
  <h3>Paycheck</h3>
    
    <p ng-hide="showPay">
            Pay Rate:{{pay}}<br/> 
            Hours Worked: {{hours}} <br/>
            Tax Rate: {{tax}} <br/> <br/>
        <strong>Net Income {{afterTaxTotal() | currency : $ }}</strong>
    </p>
    
    <p ng-show="payInput">
        Pay Rate: <input type="number" ng-model="pay" placeholder='e.g. 15'/> 
        <br><br>
        Hours worked: <input type="number" ng-model="hours"  placeholder='e.g. 40'>
        <br><br>
        tax rate(as a decimal): <input type="number" step="0.01" ng-model="tax"  placeholder='e.g. 0.1925'>
        <br><br>

        <button class="button" ng-click="addPay()" > Add Paycheck</button>
    </p>
    
</form>
      
      
      
      
<br/><br/>
<form name="Expenses">
 <h3>Expenses</h3>
    <div ng-repeat="item in expenses">
        Memo:<input type="text" ng-model="item.expenseMemo" placeholder='e.g. Groceries'/> 
        Amount: <input type=number ng-model="item.expenseAmount" placeholder="e.g. 100"/>
        </div>
        <button  class="button" ng-click="addExpense()"> Add another expense</button>
        <br><br><br>
  </form> 


    <button  class="button button1" ng-click="showRec()"> Generate Receipt</button>
  
   </div> 

<!--HIDE FORMS-->



<!--RECEIPT-->
<div ng-show="payTable">
 <br/><br/>
    <div class="receipt"><strong>Paycheck total</strong> </div>
    <table  class="incomeTable">
        <th>
        </th>
        <th></th>
        <tr>
            <td>Subtotal:</td>
            <td>{{ total() | currency : $ }}</td>
        </tr>
        <tr>
            <td>Total Taxes :</td> 
            <td>({{ taxTotal() | currency : $ }})</td>
        </tr>
        <tr>
            <td> Net Income: </td>
            <td>{{afterTaxTotal() | currency : $ }}</td>
        </tr>
    </table>
    <br/><br/><br/>
    
    <div class="receipt"><strong>Expenses </strong></div>
        <table class="incomeTable">
            <th>Memo</th>
            <th>Amount</th>
            <tr ng-repeat="item in expenses">
                <td> {{item.expenseMemo}}</td>
                <td> ({{(item.expenseAmount | currency)}})</td>
            </tr>
        </table> 

      <br/><br/><br/>


    <div class="receipt"> <strong>Remaining Balance: {{netIncome() | currency}}</strong></div>
    
</div>
